{% extends 'admin/base_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<!-- Page main content START -->
<div class="row g-4 pt-4">

		<!-- Title -->
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
			</div>
		</div>

		<!-- Counter boxes START -->
		<div class="row g-4 mb-4">

			{% include 'admin/components/counter_box.html.twig' with {
				value: 500,
				title: 'Total Users',
				icon: 'bi bi-people-fill',
				bgColor: 'bg-warning',
				bgOpacity: 'bg-opacity-15',
				iconBg: 'bg-warning'
			} %}

			{% include 'admin/components/counter_box.html.twig' with {
				value: 123,
				title: 'Active Routines',
				icon: 'bi bi-journal-check',
				bgColor: 'bg-purple',
				bgOpacity: 'bg-opacity-10',
				iconBg: 'bg-purple'
			} %}

			{% include 'admin/components/counter_box.html.twig' with {
				value: 47,
				title: 'Pending Reclamations',
				icon: 'bi bi-exclamation-triangle-fill',
				bgColor: 'bg-primary',
				bgOpacity: 'bg-opacity-10',
				iconBg: 'bg-primary'
			} %}

			{% include 'admin/components/counter_box.html.twig' with {
				value: 67,
				title: 'Coach Requests',
				icon: 'bi bi-person-plus-fill',
				bgColor: 'bg-success',
				bgOpacity: 'bg-opacity-10',
				iconBg: 'bg-success'
			} %}

		</div>

		<!-- Counter boxes END -->

		<!-- Chart and Ticket START -->
		<div class="row g-4 mb-4">

			<!-- Chart START -->
			<div class="col-xxl-8">
				<div class="card shadow h-100">

					<!-- Card header -->
					<div class="card-header p-4 border-bottom">
						<h5 class="card-header-title">Earnings</h5>
					</div>

					<!-- Card body -->
					<div class="card-body">
						<!-- Apex chart -->
						<div id="ChartPayout"></div>
					</div>
				</div>
			</div>
			<!-- Chart END -->
			{% embed 'admin/components/card/card_base.html.twig' with {
			title: 'Support Requests',
			viewAllLink: '#'
			} %}

			{% block content %}

				{% include 'admin/components/card/first_item.html.twig' with {
				avatar: asset('adminDashboard/assets/images/avatar/09.jpg'),
				name: 'Lori Stevens',
				message: 'New ticket #759 from Lori Stevens for General Enquiry',
				time: '8 hour ago'
				} %}

				<hr>

				{% include 'admin/components/card/first_item.html.twig' with {
				avatar: '',
				name: 'Dennis Barrett',
				message: 'Comment from Billy Vasquez on ticket #659',
				time: '8 hour ago'
				} %}

				<hr>

				{% include 'admin/components/card/first_item.html.twig' with {
				avatar: '',
				name: 'Dennis Barrett',
				message: '<b>Webestica</b> assign you a new ticket for <b>Eduport theme</b>',
				time: '5 hour ago'
				} %}

				<hr>

				{% include 'admin/components/card/first_item.html.twig' with {
				avatar: asset('adminDashboard/assets/images/avatar/04.jpg'),
				name: 'Dennis Barrett',
				message: 'Thanks for contact us with your issues.',
				time: '9 hour ago'
				} %}

			{% endblock %}

			{% endembed %}

		</div>
		<!-- Chart and Ticket END -->

		<!-- Top listed Cards START -->
		<div class="row g-4">

			<!-- Top instructors START -->
			{% embed 'admin/components/card/card_base.html.twig' with {
				title: 'Top Instructors',
				viewAllLink: '#'
			} %}

				{% block content %}

					{% include 'admin/components/card/second_item.html.twig' with {
						avatar: asset('adminDashboard/assets/images/avatar/09.jpg'),
						name: 'Lori Stevens',
						verified: true,
						courses: 25,
						rating: 4.5
					} %}
					<hr>

					{% include 'admin/components/card/second_item.html.twig' with {
						avatar: asset('adminDashboard/assets/images/avatar/03.jpg'),
						name: 'Dennis Barrett',
						courses: 18,
						rating: 4.5
					} %}
					<hr>

					{% include 'admin/components/card/second_item.html.twig' with {
						avatar: asset('adminDashboard/assets/images/avatar/01.jpg'),
						name: 'Jacqueline Miller',
						verified: true,
						courses: 21,
						rating: 4.8
					} %}
					<hr>

					{% include 'admin/components/card/second_item.html.twig' with {
						avatar: asset('adminDashboard/assets/images/avatar/04.jpg'),
						name: 'Billy Vasquez',
						courses: 15,
						rating: 4.5
					} %}
					<hr>

					{% include 'admin/components/card/second_item.html.twig' with {
						avatar: asset('adminDashboard/assets/images/avatar/05.jpg'),
						name: 'Amanda Reed',
						verified: true,
						courses: 29,
						rating: 4.5
					} %}

				{% endblock %}

			{% endembed %}

			<!-- Top instructors END -->

			<!-- Notice Board START -->
			<div class="col-lg-6 col-xxl-4">
				<div class="card shadow h-100">
					<!-- Card header -->
					<div class="card-header border-bottom p-4">
						<h5 class="card-header-title">Notice board</h5>
					</div>

					<!-- Card body START -->
					<div class="card-body p-4">
						<div class="custom-scrollbar h-300px">

							<!-- Notice Board item START -->
							<div class="d-flex justify-content-between position-relative">
								<div class="d-sm-flex">
									<div class="icon-lg bg-purple bg-opacity-10 text-purple rounded-2 flex-shrink-0"><i class="fas fa-user-tie fs-5"></i></div>
									<!-- Info -->
									<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
										<h6 class="mb-0"><a href="#" class="stretched-link">Join New Instructor</a></h6>
										<p class="mb-0">Amongst moments do in arrived Fat weddings believed prospect</p>
										<span class="small">5 min ago</span>
									</div>
								</div>
							</div>
							<!-- Notice Board item END -->

							<hr><!-- Divider -->

							<!-- Notice Board item START -->
							<div class="d-flex justify-content-between position-relative">
								<div class="d-sm-flex">
									<div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 flex-shrink-0"><i class="fas fa-book-open fs-5"></i></div>
									<!-- Info -->
									<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
										<h6 class="mb-0"><a href="#" class="stretched-link">Update New Course</a></h6>
										<p class="mb-0">Arrived Fat weddings believed prospect</p>
										<span class="small">4 hour ago</span>
									</div>
								</div>
							</div>
							<!-- Notice Board item END -->

							<hr><!-- Divider -->

							<!-- Notice Board item START -->
							<div class="d-flex justify-content-between position-relative">
								<div class="d-sm-flex">
									<div class="icon-lg bg-info bg-opacity-10 text-info rounded-2 flex-shrink-0"><i class="fas fa-book fs-5"></i></div>
									<!-- Info -->
									<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
										<h6 class="mb-0"><a href="#" class="stretched-link">Update Syllabus</a></h6>
										<p class="mb-0">Arrived Fat weddings believed prospect</p>
										<span class="small">2 days ago</span>
									</div>
								</div>
							</div>
							<!-- Notice Board item END -->

							<hr><!-- Divider -->

							<!-- Notice Board item START -->
							<div class="d-flex justify-content-between position-relative">
								<div class="d-sm-flex">
									<div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-2 flex-shrink-0"><i class="fas fa-globe fs-5"></i></div>
									<!-- Info -->
									<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
										<h6 class="mb-0"><a href="#" class="stretched-link">Update New Feature</a></h6>
										<p class="mb-0">Arrived Fat weddings believed prospect</p>
										<span class="small">3 days ago</span>
									</div>
								</div>
							</div>
							<!-- Notice Board item END -->
						</div>
					</div>
					<!-- Card body END -->

					<!-- Card footer START -->
					<div class="card-footer border-top">
						<div class="alert alert-success d-flex align-items-center mb-0 py-2">
							<div>
								<small class="mb-0">45 more notices listed</small>
							</div>
							<div class="ms-auto">
								<a class="btn btn-sm btn-success-soft mb-0" href="#!"> View all </a>
							</div>
						</div>
					</div>
					<!-- Card footer START -->
				</div>
			</div>
			<!-- Notice Board END -->

			<!-- Traffic sources START -->
			<div class="col-lg-6 col-xxl-4">
				<div class="card shadow h-100">

					<!-- Card header -->
					<div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
						<h5 class="card-header-title">Traffic Sources</h5>
						<a href="#" class="btn btn-link p-0 mb-0">View all</a>
					</div>

					<!-- Card body START -->
					<div class="card-body p-4">
						<!-- Chart -->
						<div class="col-sm-6 mx-auto">
							<div id="ChartTrafficViews"></div>
						</div>

						<!-- Content -->
						<ul class="list-group list-group-borderless mt-3">
							<li class="list-group-item"><i class="text-primary fas fa-circle me-2"></i>Create a Design System in Figma</li>
							<li class="list-group-item"><i class="text-success fas fa-circle me-2"></i>The Complete Digital Marketing Course - 12 Courses in 1</li>
							<li class="list-group-item"><i class="text-warning fas fa-circle me-2"></i>Google Ads Training: Become a PPC Expert</li>
							<li class="list-group-item"><i class="text-danger fas fa-circle me-2"></i>Microsoft Excel - Excel from Beginner to Advanced</li>
						</ul>
					</div>
				</div>
				<!-- Card body END -->
			</div>
			<!-- Traffic sources END -->

		</div>
		<!-- Top listed Cards END -->

	</div>
    {% endblock %}