@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 text-sm antialiased;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer bg-gradient-to-r from-indigo-600 to-[#8A7DFF];
  }
}