parameters:
    profile_photos_directory: '%kernel.project_dir%/public/uploads/profiles'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Repository\:
        resource: '../src/Repository'
        autowire: true
        autoconfigure: true

    App\Service\FileUploader:
        arguments:
            $targetDirectory: '%profile_photos_directory%'

    # Expéditeur des emails (avec Gmail, mettre la même adresse que dans MAILER_DSN)
    App\Service\EmailService:
        arguments:
            $fromEmail: '%env(MAILER_FROM_EMAIL)%'
            $fromName: '%env(MAILER_FROM_NAME)%'
