parameters:
    openai.api_key: '%env(OPENAI_API_KEY)%'
    openai.use_mock: '%env(bool:OPENAI_USE_MOCK)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\AiAssistantService:
        arguments:
            $apiKey: '%openai.api_key%'
            $useMockData: '%openai.use_mock%'